<br>
{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css'%}">
{% endblock style %}

{% block body %}
<div class="login">
<div class="container p-3 mycont">
    {% comment %} <div class="jumbotron" style="background-color: #092230;"> {% endcomment %}
        <form method='POST'>
            {% csrf_token %}
                <h5 class="mb-4 head" style="text-align:center;">Login</h5>
                {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Log in</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="bottom_link">Not a Member?<a class="ml-2" href="{% url 'register'%}">Register Now!</a></small>
        </div>
    {% comment %} </div> {% endcomment %}
</div>
</div>
{% endblock body %}
    