<br>
<br>
{% extends "users/base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block style %}
 <link rel="stylesheet" type="text/css" href="{% static 'users/Postform.css' %}">
 <style>
  .post-form{
    color: #eae7d6;
  }
 </style>
{% endblock style %}
{% block content %}
<div class="post_form cus">
<div class="container">
  <div class="jumbotron" style="background-color: #092230;margin-bottom:10px;">
    <form method="POST" enctype="multipart/form-data" class="post-form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="mb-4 post_head" style="text-align: center">
          Post Your Property
        </legend>
        {{ form|crispy }}
        {% comment %} {{ imgform|crispy }} {% endcomment %}
        <label>Upload Property Images : </label>
        <input type="file" name="image" accept="image/*" multiple class="form-control">
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Add Post</button>
      </div>
    </form>
  </div>
</div>
</div>
<br>
<br>
{% endblock content %}

