{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/PostList.css' %}"
{% endblock style %}

{% block body %}

<br>

<div class="main">
  <div class="left">
  <div class="form_left">
    <form method='POST'>
            {% csrf_token %}
            <h4 class="border-bottom mb-3" style="text-align : center;">Book your ideal Holiday Home.</h4>
               <div class="search_cont">
                {{ form|crispy }}
                <button class="search_btn btn btn-outline-primary" type="submit">Search</button>
                </div>
        </form>
     </div>

    <h6 class="left_head text-left">Top Rated Properties in India: </h6>
    <div class="row">
    {% for r_post in reviews %}
      <div class="shadow card left_card ml-1" style="width:200px;">
          <a class="stretched-link text-decoration-none" href="http://localhost:8000/showPost/{{r_post.0.post.id}}">
                      <img src="/media/{{r_post.0.0.image}}" class="img-fluid left_img" alt="">
                      <div class="card-block px-2" style="color: black;">
                      {% with r_post|last as last %}
                          <h6 class="card-text">{{r_post.0.0.post.name|title}}<span class="ml-5"></span></h6>
                          {% endwith %}
                          <p class="card-text">{{r_post.0.0.post.city|title}}<span>, {{r_post.0.0.post.state|title}}</span></p>
                      </div>
          </a>
      </div>

      {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class="row mt-1">
    {% endif %}
    {% endfor %}
    </div>
  </div>

<div class="right">
    <div class="container cont">
{% if posts %}
{% for key, p in posts.items %}
<div class="shadow card custom-c mt-3 mr-3">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="/media/{{p.0.image}}" class="img-fluid custom-img" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                <div class="persuasion__item pc__entireProperty">
                <div class="pc__html">ROOM IN HOUSE <span class="pst_area">{{p.0.post.Area}} SQ.FT</span></div>
                </div>
                    <h4 class="card-title">{{p.0.post.name}}</h4>
                    <div class="p_cont">
                    <p class="card-text">{{p.0.post.desc}}</p>
                    </div>

                    <a href="http://localhost:8000/showPost/{{key}}" class="btn btn-outline-primary mt-3 mb-3">Explore!!</a>
                </div>
            </div>
        </div>
  </div>
  {% endfor %}
  {% else %}
    <h5 class="right_head">Sorry, currently no properties are available for this location.</h5>
  {% endif %}
  </div>
  </div>
</div>
{% endblock body %}
    