{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block style %}
 body{
     background-color: rgb(10, 60, 66);
 }
{% endblock style %}
{% block body %}
<div class="container">
<div class="jumbotron" style="background-color: rgb(233, 233, 233);" >
     <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin" style="margin-left:35%">
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Service Provider Registration</legend>
                {{ u_form|crispy }}
                {{p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already a Member?<a class="ml-2" href="{% url 'login'%}">Sign In</a> </small>
        </div>
    </div>
    </div>
{% endblock body %}