{% extends "users/base.html" %} {% load static %} {% load crispy_forms_tags %}
{% load static %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/Post.css' %}">
{% endblock style %}
{% block body %}
<br>
<br>
<!-- Start -->
<div class="container-fluid post_cont">
<div class="left_post">
<div class="shadow card mb-3 mx-auto">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{info.images.0.image.url}}" class="card-img" alt="..." height="100%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{info.post.name}}</h5>
        <p class="card-text">{{info.post.desc}}</p>
        <p class="card-text">{{info.post.address}}</p>
        <p class="card-text">{{info.post.state|capfirst}}</p>
        <p class="card-text">{{info.post.pincode}}</p>
        {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> {% endcomment %}
      </div>
    </div>
  </div>
</div>
<h4 class="amenities">Amenities:</h4>
<!-- Card -->
<div class="am_cont d-flex justify-content-start">
{% for amenity in info.post.amenities %}
    <div class="card text-white mx-1" style="min-width:15rem;background-color:#{{forloop.counter}}22f3e">
      <div class="card-body">
      {% for key, value in icons.items %}
      {% if key == amenity %}
        <h5 class="card-title"><i class="{{value}}"></i></h5>
      {%endif%}
      {%endfor%}
      </div>
      <div class="card-header">{{amenity}}</div>
    </div>
{% endfor %}
</div>
<br>
<h4 class="amenities">Reviews:</h4>
{% if info.reviews%}
<div class="reviews_cont">
{% for review in info.reviews %}
  <div class="card mt-3" style="width: 100%;background-color:#092230;">
    <div class="card-body" style='color:#eae7d6'>
     <div class="rr d-flex justify-content-between">
      <h6 class="card-title" style='color:#eae7d6'>{{review.user.first_name}} {{review.user.last_name}}</h6>
      <h6 class="card-title" style='color:#eae7d6'>{{review.rating}}<span class="fas fa-star ml-1" style="color: #eae7d6;"></span></h6>
    </div>
      <p class="card-text">{{review.review}}</p>
    </div>
  </div>
{% endfor %}  
</div>
{% else %}
    <h5 class="right_head">Sorry, there are no reviews for this location.</h5>
  {% endif %}
<br>
<h4 class="amenities">Add Your Review:</h4>
<div class="container d-flex justify-content-center">
  <div class="jumbotron jumbotron-css" style="background-color: #eae7d6;width:75%;height:420px;" >
    <form method="POST" action='' id="post_form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4" style="text-align: center;">
          Share your experience to help other valuable customers!!
        </legend>
        <br>
        <div class="form-group">
          <label>Review</label>
          <input
            type="text"
            class="form-control"
            id="review"
            placeholder="Add your review here..."
            required
          />
        </div>
        <div class="form-group">
          <div class="rating rating2">
            <a href="#5" title="Give 5 stars" data-value="5">★</a>
            <a href="#4" title="Give 4 stars" data-value="4">★</a>
            <a href="#3" title="Give 3 stars" data-value="3">★</a>
            <a href="#2" title="Give 2 stars" data-value="2">★</a>
            <a href="#1" title="Give 1 star" data-value="1">★</a>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit" style='color: #092230'>Add Review</button>
      </div>
    </form>
  </div>
</div>
</div>
<div class="right_post">
 <div class="card">
  <div class="card-body">
    <h5 class="card-title">Owner Details</h5>
    <p class="card-text"><i class="fas fa-user"></i>  {{info.post.user.first_name}} {{info.post.user.last_name}}</p>
    <p class="card-text"><b><i class="fab fa-whatsapp"></i></b>  +91 {{info.post.user.profile.mobile_no}}</p>
    <p class="card-text"><i class="far fa-envelope"></i>  {{info.post.user.email}}</p>
  </div>
</div>
<br>
<h4 class="d-flex justify-content-center">Select Booking Date</h4>
<hr>
<div class="row-auto">
<div class="col input-group">
    <div class="input-group mb-3">
  <input type="date" class="form-control" placeholder="date" aria-label="date" aria-describedby="basic-addon1">
</div>
    </div>
<div class="col-auto d-flex justify-content-center">
    <a href="{% url 'receipt' pk=info.post.id  %}" class="btn btn-outline-primary">Book</a>
    </div>
</div>
</div>
<div>

</div>
</div>
<hr>
<hr>

<!-- End -->
<br>

{% endblock body %} 
{% block js %} 
let data=0;
$(".rating a").on('click', function(e){
data = $(this).data('value')
});

$(document).on('submit',function(e){
    $.ajax({
        type:'POST',
        url:'{% url "showPost" pk=info.post.id %}',
        data:{
            review:$('#review').val(),
            rating: data,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: ''
        },
        success:function(json){
            console.log("done!!");
            window.alert("Your review has been posted successfully!!");
            return window.location.href = "http://localhost:8000/showPost/"+ toString(info.post.id);
        },
        error : function(xhr,errmsg,err) {
            window.alert("You have already posted a review on this post!");
            document.getElementById("post_form").clear();
    }
    });
});

{% endblock js %}
