* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.about {
    color: black;
    text-align: center;
    font-size: 3.6px;
}

.company {
    display: flex;
    flex-direction: row;
    background-color: var(--color-option);
    border-radius: 3px;
    margin-bottom: 2px;
    justify-content: center;
}

.company-content {
    align-self: center;
}

.company-content a {
    text-decoration: none;
}

.company-content h3 {
    font-size: 2.6px;
    color: rgb(255, 246, 235);
}

.company-content h3:hover {
    font-size: 2.6px;
    color: var(--main-bg-color);
}

.logo img {
    height: 15px;
    margin: 3.5px 4.5px;
    border-radius: 1px;
    border: 2px solid black;
}

.company-content:hover {
    font-size: 2.6px;
    color: var(--main-bg-color);
}

.container {
    border-radius: 2px;
    position: relative;
}

.container h2 {
    font-size: 4.5px;
    text-align: center;
    color: black;
}

.container-inside {
    display: flex;
    flex-direction: row;
    background-color: var(--color-option);
    border-radius: 3px;
    margin-bottom: 2px;
    justify-content: center;
}

.container-inside-right {
    display: flex;
    flex-direction: row;
    background-color: var(--color-option);
    border-radius: 3px;
    margin-bottom: 2px;
    justify-content: center;
}

.container-inside-content {
    align-self: center;
    padding: 3px;
}

.container-inside-content h3 {
    font-size: 2.6px;
    color: rgb(255, 246, 235);
}

.container-inside-content a {
    text-decoration: none;
}

.container-inside-content h3:hover {
    font-size: 2.6px;
    color: var(--main-bg-color);
}

.container-inside-img img {
    height: 30px;
    min-width: 30px;
    margin: 3.5px 4.5px;
    border-radius: 1px;
    border: 2px solid black;
}