/* Contact Content Section */

.contact-content {
    height: 300px;
    background-color: var(--color-option);
    /* border: 5px solid darkblue; */
    display: flex;
    font-family: var(--font1);
    flex-direction: column;
    overflow: hidden;
    /* border-radius: 3px; */
}


/* .contact-content::before {
    content: '';
    position: absolute;
    background: url('../Images/3.jpg');
    width: inherit;
    height: inherit;
    opacity: 0.3;
    z-index: -1;
    border-radius: 2px;
} */

.contact-content h2 {
    text-align: center;
    font-size: 3.5px;
}

.contact-form {
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box input,
textarea {
    width: 70px;
    padding: .3px 1px;
    border: .3px solid black;
    margin: 1px 0px;
    border-radius: .7px;
    font-family: var(--font1);
    font-size: 2px;
}