:root {
    --blue: #092230;
    --off_white: #eae7d6;
}

.custom-navbar{
    background-color: var(--blue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar a {
    color: var(--off_white);
    margin-left:15px;
    margin-right:15px;
    font-size: 18px;
}

.img {
    opacity: 1;
    /* aspect-ratio:1; */
}

.ftr{
    background-color: var(--blue) !important;
    height: 5vh;
  }