.pst_area{
    padding: 4px 9px;
    background-color:#8b572a31;
    font-size: 11px;
    margin-left: 2px;
}

.custom-img {
    padding: 10px;
    height: 220px;
    width: 220px;
    border-radius: 30px;
}

.main{
    width:100%;
    height:88vh;
    display: flex;
}

.left{
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: sticky;
   top: 0;
   height:100%;
   overflow-y: hidden;
   /* justify-content: center; */
   /* background-color: aqua; */
}

.form_left{
    width: 80%;
}

.left_card{
    width: 60%;
}

.left_head{
    font-style: italic;
    font-weight: 400;
    margin-left: 20;
}

.left_img{
    height:140px;
}

.right{
    width: 60%;
    overflow-y: scroll;
    /* display: flex;
    justify-content: flex-end; */
    /* background-color: darkblue; */
}

.right::-webkit-scrollbar{
    display: none;
}

.cont{
    width:95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* top:15px; */
}

.p_cont{
  height: 100px;
  overflow-y: scroll;
}
.card-title{
    font-weight: 400 !important;
    font-style: italic !important;

}

.p_cont .card_text{
    font-size: 15px !important;
}

.p_cont::-webkit-scrollbar{
    display: none;
}

.custom-c{
    width: 100%;
    height:auto;
}
.pc__entireProperty {
    align-items: center;
    border: 1px solid #8b572a60;
    border-radius: 4px;
    color: #8b572a;
    display: inline-flex;
    font-size: 11px;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 10px;
    height: 22px;
    text-transform: uppercase;
}

.top_prop{
    display: flex;
    margin-left: 40px;
}

.persuasion__item {
    position: relative;
}

.search_cont{
    display: flex;
    width: 100%;
}

#id_search{
    width:250px !important;
}

.search_btn{
    height:35px; 
    margin-left: 15px;
}
